<table id="form_record">
<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "erro") %> ocorreram durante o cadastro do record:</h2>

      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <tr>
    <td class="label"><%= form.label :domain_id %></td>
    <% if !(params[:id].nil?) %>
      <td><%= form.collection_select :domain_id, Domain.order(:name), :id, :name, selected_value:params[:id] %></td>
    <% else %>
      <td><%= form.collection_select :domain_id, Domain.order(:name), :id, :name, include_blank: true %></td>
    <% end %>
  </tr>  

  <tr>
    <td class="label"><%= form.label :type_record %></td>
    <td><%= form.select(:type_record, [['A','A'], ['TXT','TXT'], ['CNAME','CNAME'],  ['PTR','PTR']], include_blank: true) %></td>
  </tr>  

  <tr>
    <td class="label"><%= form.label :name %></td>
    <td><%= form.text_field :name %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :ttl %></td>
    <td><%= form.text_field :ttl %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :class_record %></td>
    <td><%= form.text_field :class_record %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :content %></td>
    <td><%= form.text_field :content,:input_html => {:on =>  "ValidateIPaddress();"} %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :priority %></td>
    <td><%= form.number_field :priority %></td>
  </tr>

  <tr>
    <td><%= form.submit %></td>
  </tr>
<% end %>
</table>