<table id="form_record">
<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "erro") %> ocorreram durante o cadastro do record:</h2>

      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <tr>
    <td class="label"><%= form.label :domain_id %></td>

        <% if !(params[:id_domain].nil?) %>

            <!-- Para o caso de inserção de um novo Record a partir da tela de descrição do Domain -->
            
            <td><%= form.collection_select :domain_id, Domain.order(:name), :id, :name, {:selected=> params[:id_domain]} %></td>

        <% elsif !(@record.domain_id.nil?) %>

            <!-- Para o caso de edição de um Record já cadastrado -->

            <td><%= form.collection_select :domain_id, Domain.order(:name), :id, :name, {:selected => @record.domain_id }  %></td>

        <% else %>

            <!-- Para o caso de inserção sem Domain pré-selecionado -->

            <td><%= form.collection_select :domain_id, Domain.order(:name), :id, :name, include_blank: true %></td>

        <% end %>
  </tr>  

  <tr>
    <td class="label"><%= form.label :type_record %></td>
    <td><%= form.select(:type_record, [['A','A'], ['TXT','TXT'], ['CNAME','CNAME'],  ['PTR','PTR']], include_blank: true) %></td>
  </tr>  

  <tr>
    <td class="label"><%= form.label :name %></td>
    <td><%= form.text_field :name %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :ttl %></td>
    <td><%= form.text_field :ttl %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :class_record %></td>
    <td><%= form.text_field :class_record %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :content %></td>
    <td><%= form.text_field :content,:input_html => {:on =>  "ValidateIPaddress();"} %></td>
  </tr>

  <tr>
    <td class="label"><%= form.label :priority %></td>
    <td><%= form.number_field :priority %></td>
  </tr>

  <tr>
    <td><%= form.submit %></td>
  </tr>
<% end %>
</table>