<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "erro") %> ocorreram durante o cadastro do record:</h2>

      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :domain_id %>
    <%= form.collection_select :domain_id, Domain.order(:name), :id, :name, include_blank: true %>
  </div>  

  <div class="field">
    <%= form.label :type_record %>
    <%= form.select(:type_record, [['A','A'], ['TXT','TXT'], ['CNAME','CNAME'],  ['PTR','PTR']], include_blank: true) %>
  </div>  

  <div class="field">
    <%= form.label :host %>
    <%= form.text_field :host %>
  </div>

  <div class="field">
    <%= form.label :ttl %>
    <%= form.text_field :ttl %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content,:input_html => {:on =>  "ValidateIPaddress();"} %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
