<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @record.type_record %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Ttl:</strong>
  <%= @record.ttl %>
</p>

<p>
  <strong>Class:</strong>
  <%= @record.class_record %>
</p>

<p>
  <strong>Content:</strong>
  <%= @record.content %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @record.priority %>
</p>


<%= link_to 'Ir pra Domain', :controller=>'domains', :action => 'show', :id => @record.domain %>

