<table id="form_domain">
<%= form_with(model: domain, local: true) do |form| %>
  <% if domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
        <% domain.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if !(@domain.domains_id.nil?) %>
    <h3> O domínio pertence ou pertencerá ao no domínio <%= @domain.domains_id.to_s %> </h3>
  <% end %>


  <%= form.hidden_field :domains, value: @domain.domains_id.to_s %>


  <tr>
      <td class="label"><%= form.label :name, :class => "label_form" %></td>
      <td><%= form.text_field :name, :class=>"input_form" %></td>
  </td>

  <tr>
      <td class="label"><%= form.label :type_domain %></td>
      <td><%= form.select(:type_domain, ['MASTER', 'SLAVE', 'FORWARD', 'STUB', 'HINT'], include_blank: true, :class => "input_form") %></td>
  </tr>

  <tr>
      <td class="label"><%= form.label :ttl %></td>
      <td><%= form.text_field :ttl, :class=>"input_form" %></td>
  </tr>

  <tr>
      <td class="label"><%= form.label :primary_name_server %></td>
      <td><%= form.text_field :primary_name_server, :class=>"input_form" %></td>
  </tr>

  <tr>
      <td class="label"><%= form.label :contact %></td>
      <td><%= form.text_field :contact , :class=>"input_form" %></td>
  </tr>

  <tr>
      <td class="label"><%= form.label :refresh %></td>
      <td><%= form.text_field :refresh , :class=>"input_form" %></td>
  </tr>

  <tr>
      <td class="label"><%= form.label :retry %></td>
      <td><%= form.text_field :retry , :class=>"input_form" %></td>
  </tr>

  <tr>
      <td class="label"><%= form.label :expire %></td>
      <td><%= form.text_field :expire , :class=>"input_form"%></td>

  </tr>

  <tr>
      <td class="label"><%= form.label :minimum %></td>
      <td><%= form.text_field :minimum , :class=>"input_form" %></td>
  </tr>

  <tr>
      <td id="submit" colspan="2">
        <%= form.submit %>    
      </td>
  </tr>

<% end %>
</table>