<p id="notice"><%= notice %></p>

<h1>Domains</h1>

<div>
  <p> 
    <h4>A tabela abaixo mostra os domains cadastrados no sistema.</h4>
  </p>
</div>


<%= link_to 'Inserir novo Domain', new_domain_path %>

</br>
</br>

<table id="domains" class=" datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Ttl</th>
      <th>Primary name server</th>
      <th>Contact</th>
      <th>Refresh</th>
      <th>Retry</th>
      <th>Expire</th>
      <th>Minimum</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
        <td><%= domain.type_domain %></td>
        <td><%= domain.ttl %></td>
        <td><%= domain.primary_name_server %></td>
        <td><%= domain.contact %></td>
        <td><%= domain.refresh %></td>
        <td><%= domain.retry %></td>
        <td><%= domain.expire %></td>
        <td><%= domain.minimum %></td>
        <td>
            <%= link_to 'Exibir', domain %>
            <%= link_to 'Editar', edit_domain_path(domain) %>
            <%= link_to 'Excluir', domain, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este Domain?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</br>

<script type="text/javascript" src="/assets/datatables.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    var dataTable = $("#domains").DataTable(
       {
        "language": 
          {
             "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
          },
      }
    )
  });
</script>
